*{
  background-color: #e3be7f;
background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* font-family: 'Old Standard TT', serif; */
  /* font-family: 'Romanesco', cursive; */
  font-family: 'Dancing Script', cursive;
}

.app{
  /* box-shadow: 0px 0px 55px 29px rgba(0,0,0,0.49) inset,
0px 2px 1px 1px rgba(255,255,255,0.9) inset,
0px -2px 1px 0px rgba(0,0,0,0.25) inset; */

box-shadow: 0px -20px 59px 25px rgba(0,0,0,0.63) inset,
0px 2px 1px 1px rgba(255,255,255,0.9) inset,
0px -2px 1px 0px rgba(0,0,0,0.25) inset;

margin: 1px;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.heading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 18vh;
  font-size: 58px;
  font-weight: 800;
  padding: 20vh 0 5vh 0;
  opacity: 0.8;
}

.names{
  width: 70%;
  font-weight: 500;
  font-size: 19px;
  line-height: 14px;
  display: flex;
  justify-content:space-around;
  text-align: center;
  margin-top: 6vh;
  font-style: italic;
}

.text{
  padding: 5% 10% 10% 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
  line-height: 25px;
  font-size: 22px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.94);
}

.left{
  margin: 0% 2% 0% 10%;
  text-align: left;
  width: 50%;
}

.right{
  margin: 0% 6% 0% 2%;
  text-align: left;
  width: 48%;
}